Results/
Sources.md
__pycache__/
jitfailure*/
Papers/
Bachelorthesis/figures
PreliminaryResults/*/*.pvd
PreliminaryResults/*/*.vtu
PreliminaryResults/*/*.xdmf
PreliminaryResults/*/*.h5
FinalResults/*/*.pvd
FinalResults/*/*.vtu
FinalResults/*/*.xdmf
FinalResults/*/*.h5